<div id="result">
<div><span class="label">Product ID:</span> <%=@productID%></div>
<div><span class="label">Product Name:</span> <%=@productName%></div>
<div><span class="label">Supplier ID: </span><%=@supplierID%></div>
<span class="label">Active/Discontinued</span>
<div><%=@isdiscontinued%></div>
<div><span class="label">Supplier Name:</span> <%=@companyName%></div>
</div>