<div id="result">
<div>Product ID: <%=@productID%></div>
<div>Product Name: <%=@productName%></div>
<div>Supplier ID: <%=@supplierID%></div>
Active/Discontinued
<div><%=@isdiscontinued%></div>
<div>Supplier Name: <%=@companyName%></div>
</div>